snippet log "Console log"
console.log($0);
endsnippet

snippet desc "describe test case"
describe('$1', function() {
	$0
});
endsnippet

snippet test "test case"
test('$1', function() {
	$0
});
endsnippet

snippet fun "function"
function $1($2) {
	$0
}
endsnippet
